.Card {
    border-radius: 16px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 7px;
    padding-bottom: 6px;
}

.Behavior {
    position: absolute;
    top: 20px;
    z-index: -3;

}

.Hygiene {
    position: absolute;
    top: 70px;
    z-index: -2;

}

.Social {
    position: absolute;
    top: 120px;
    z-index: -1;

}

.Points {
    position: absolute;
    left: 70px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-top: 3px;
    z-index: 0;
}

.Nameline {
    font-size: 10px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 12px;
}

.SVGContainer{
    position: relative;
    float: left;
}
.ProfileContainer{
    position: relative;
    float: right;
}
