.onboardingScreen{
    background-color:rgb(68, 36, 168);
    min-height: 100vh;
    padding:20px;
    text-align: center;
}
.onboardingScreen .title{

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 28px;
}

.onboardingScreen .text{
    padding-top: 16px;
    opacity: 0.5;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 24px;
}